.sidePanel {
    width: 20em;
    max-width: 100vw;
    padding: 4em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #323232;
    border-left: 2px solid white;
    overflow-y: scroll;
}

.sidePanelOpen {
    transform: translateX(0);
}

.sidePanelClosed {
    transform: translateX(28em);
}

.buttons {
    width: 100%;
    margin-bottom: 0.75em;
    display: flex;
}