.toggle {
    width: 5em;
    position: absolute;
    top: 3em;
    left: -4.3em;
    transform: rotate(90deg);
    text-align: center;
    padding: 0.5em;
    z-index: 100;
    border-bottom: 2px solid white;
    border-right: 2px solid white;
    border-left: 2px solid white;
    background-color: #323232;
    cursor: pointer;
}

.sidePanel {
    width: 20em;
    max-width: calc(100vw - 8em);
    padding: 4em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #323232;
    border-left: 2px solid white;
    /* overflow-y: scroll; */
    overflow-x: visible;
}


.sidePanelOpen {
    transform: translateX(0);
    transition: 0.5s all ease-out;
}

.sidePanelClosed {
    transform: translateX(28.2em);
    transition: 0.5s all ease-out;
}

@media (max-width: 600px) {
    .sidePanel {
        max-width: calc(90vw - 4em);
        padding: 2em;
        overflow: hidden;
    }
    .sidePanelClosed {
        transform: translateX(20em);
    }
}

.buttons {
    width: 100%;
    margin-bottom: 0.75em;
    display: flex;
}