.toggle {
    width: 5em;
    position: absolute;
    top: 3em;
    left: -4.3em;
    transform: rotate(90deg);
    text-align: center;
    padding: 0.5em;
    z-index: 100;
    border-bottom: 2px solid white;
    border-right: 2px solid white;
    border-left: 2px solid white;
    background-color: #323232;
    cursor: pointer;
    border-radius: 0 0 5px 5px;
}

.sidePanel {
    position: relative;
    background-color: #323232;
    border-left: 2px solid white;
    min-height: 100vh;
}

.sidePanel__content {
    min-width: 20em;
    padding: 4em;
}

.sidePanelOpen {
    width: 28em;
    transition: 0.5s all ease-out;
}

.sidePanelClosed {
    width: 0;
    transition: 0.5s all ease-out;
}

@media (max-width: 1200px) {
    .sidePanel {
        position: absolute;
        right: 0;
        max-width: calc(100vw - 38px);
    }
}

.buttons {
    width: 100%;
    margin-bottom: 0.75em;
    display: flex;
}