.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em 0;
}

.label {
    position: absolute;
}

.label0 { top: 0 }
.label1 { bottom: 0 }
.labelplus { left: 20%; top: 60% }
.labeli { right: 20%; top: 60% }
.labelminus { right: 25%; bottom: 60%; transform: scale(0.75); }
.labelminusi { left: 25%; bottom: 60%; transform: scale(0.75); }