.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em 0;
}

.label {
    position: absolute;
}

.label0 { top: 0 }
.label1 { bottom: 0 }

.labelminus, .labeli { top: 60% }
.labelminus { left: 20% }
.labeli { right: 20% }

.labelplus, .labelminusi { bottom: 60%; transform: scale(0.75) }
.labelplus { right: 22.5% }
.labelminusi { left: 22.5% }