.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
    position: relative;
    margin: 0 auto;
    user-select: none;
    z-index: 1000;
}

.label {
    position: absolute;
}

.label0 { top: 0 }
.label1 { bottom: 0 }

.labelminus, .labeli { top: 60% }
.labelminus { left: -1em }
.labeli { right: -1em }

.labelplus, .labelminusi { bottom: 57.5%; transform: scale(0.75) }
.labelplus { right: 1em }
.labelminusi { left: 0.5em }