html {
    background-color: black;
    color: #FFF;
    
}
body {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.App {
    max-width: 1800px;
    margin: auto;
    display: flex;
    overflow: hidden;
}

.section1 {
    width: calc(70% - 4em);
    padding: 4em;
    border-right: 2px solid #FFF;
}

.section2 {
    width: calc(30% - 4em);
    padding: 4em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1 {
    margin-top: 0;
}

h2 {
    font-size: 1em;
}

.appInstructions {
    font-size: 0.75em;
}

#knob circle {
    fill: black;
}

#knob path {
    fill: #FFF;
}

.rc-slider {
    padding: 1em 0;
}
.rc-slider-rail {
    background-color: #FFF;
}

.rc-slider-handle {
    border-color: #FFF;
    background-color: black;
}

.download {
    padding: 4.9em 0 0 0;
}