.container {
    padding: 4em 0;
    display: flex;
}

.buttons {
    width: 100%;
    display: flex;
    justify-content: center;
}

.sliders, .dial {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sliders {
    width: 30%;
}
.dial {
    width: 40%;
    position: relative;
}