.container {
    padding: 4em 0;
    display: flex;
}

.buttons {
    min-width: 15em;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.sliders, .dial {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sliders {
    flex-basis: 25%;
}
.qubit {
    flex-basis: 50%;
    position: relative;
    display: flex;
    justify-content: center;
}

.qubitFW {
    flex-basis: 100%;
}